PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'2014_10_12_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'2014_10_12_100000_create_password_reset_tokens_table',1);
INSERT INTO migrations VALUES(3,'2014_10_12_100000_create_password_resets_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "first_name" varchar not null, "last_name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar check ("role" in ('doctor', 'nurse', 'admin', 'pharmacist')) not null default 'nurse', "license_number" varchar, "phone" varchar, "address" varchar, "date_of_birth" date, "gender" varchar check ("gender" in ('male', 'female', 'other')), "last_login_at" datetime, "last_login_ip" varchar, "is_active" tinyint(1) not null default '1', "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, "profile_image" varchar);
INSERT INTO users VALUES(5,'Henry','Allison','hyallison5050@gmail.com',NULL,'$2y$12$FvtwnrDTpDpt6ITqXP.OpOPGKGP75GTfRkgAB7nYrDRO5AJ8ACovq','admin','23/228399','+231770152739','Kigali, Rwanda','2025-04-02','male','2025-05-12 01:16:57','127.0.0.1',0,NULL,'2025-04-14 04:57:17','2025-05-12 02:35:07',NULL,'https://res.cloudinary.com/dom9oqh7m/image/upload/v1746964544/bsrn5xgtjh2ireufqtei.jpg');
INSERT INTO users VALUES(10,'Sandry','Moblah','ug2322836@ines.ac.rw',NULL,'$2y$12$yS5.LYZTvbqvGIIIXCVz2.4ZRJA7/64I0EBC7ZphMHzEC0iLU3hcC','doctor','23/22832','+250775173771','Musanze Town','2025-03-31','male','2025-05-12 02:35:50','127.0.0.1',1,NULL,'2025-04-15 21:04:20','2025-05-12 02:38:23',NULL,'https://res.cloudinary.com/dom9oqh7m/image/upload/v1747010303/yxvazpye0m2c8qa5imii.jpg');
INSERT INTO users VALUES(11,'Grace','Harmon','ug2522836@ines.ac.rw',NULL,'$2y$12$FcqL6vOzPXiAijzTNaPckOvIuzDYQITDSPInHZsiH7.Fidd4YFWqS','nurse','23/228376','+250790878111','Liberia','2025-05-07 00:00:00','female','2025-05-10 13:36:05','127.0.0.1',0,NULL,'2025-04-15 23:27:01','2025-05-12 02:01:32',NULL,'https://res.cloudinary.com/dom9oqh7m/image/upload/v1747008092/z7oewikah5ifgfa3wi2y.jpg');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
INSERT INTO password_reset_tokens VALUES('ug2322836@ines.ac.rw','$2y$12$21a.9Y0F8BJb3F9odHgMjudUxCHBhXqfEfAvozFzXqUI3EDVlTlfC','2025-04-13 19:15:11');
INSERT INTO password_reset_tokens VALUES('hyallison5050@gmail.com','$2y$12$y/xo2xYcLEc1NKg2DK3WDOOGtoOn6km4E8cuR.lb.OKh.3PUpnJ7C','2025-04-17 17:53:05');
CREATE TABLE IF NOT EXISTS "password_resets" ("email" varchar not null, "token" varchar not null, "created_at" datetime);
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" varchar not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "patients" ("id" integer primary key autoincrement not null, "name" varchar not null, "date_of_birth" date not null, "gender" varchar check ("gender" in ('male', 'female', 'other')) not null, "contact_number" varchar not null, "address" text not null, "medical_history" text not null, "allergies" text, "current_medications" text, "encrypted_data" text not null, "doctor_id" integer not null, "nurse_id" integer, "status" varchar check ("status" in ('active', 'discharged', 'transferred')) not null default 'active', "admission_date" date, "discharge_date" date, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, "image" varchar, foreign key("doctor_id") references "users"("id") on delete cascade, foreign key("nurse_id") references "users"("id") on delete set null);
CREATE TABLE IF NOT EXISTS "medications" ("id" integer primary key autoincrement not null, "patient_id" integer not null, "name" varchar not null, "dosage" varchar not null, "frequency" varchar not null, "start_date" date, "due_date" date, "created_at" datetime, "updated_at" datetime, foreign key("patient_id") references "patients"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "doctors" ("id" integer primary key autoincrement not null, "name" varchar not null, "specialization" varchar not null, "created_at" datetime, "updated_at" datetime, "contact_number" varchar, "address" text);
CREATE TABLE IF NOT EXISTS "password_reset_codes" ("id" integer primary key autoincrement not null, "email" varchar not null, "code" varchar not null, "created_at" datetime);
INSERT INTO password_reset_codes VALUES(1,'hyallison5050@gmail.com','7182',NULL);
CREATE TABLE IF NOT EXISTS "appointments" ("id" integer primary key autoincrement not null, "patient_id" integer not null, "doctor_id" integer not null, "appointment_date" datetime not null, "purpose" varchar not null, "description" text, "status" varchar check ("status" in ('scheduled', 'completed', 'cancelled', 'rescheduled')) not null default 'scheduled', "created_by" integer not null, "deleted_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("patient_id") references "patients"("id") on delete cascade, foreign key("doctor_id") references "users"("id") on delete cascade, foreign key("created_by") references "users"("id") on delete cascade);
INSERT INTO appointments VALUES(1,8,10,'2025-05-11 11:42:00','eye checkup','First eye checkup, this person is experiencing some blurriness in their eyes','cancelled',5,NULL,'2025-05-10 10:41:48','2025-05-11 15:02:23');
INSERT INTO appointments VALUES(2,8,10,'2025-06-21 11:42:00','lnlknbjkonoj',NULL,'scheduled',5,'2025-05-10 14:03:26','2025-05-10 11:53:47','2025-05-10 14:03:26');
INSERT INTO appointments VALUES(3,11,10,'2025-05-10 16:42:00','l;mlk',NULL,'rescheduled',5,'2025-05-11 02:29:18','2025-05-10 12:42:33','2025-05-11 02:29:18');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',22);
INSERT INTO sqlite_sequence VALUES('users',36);
INSERT INTO sqlite_sequence VALUES('doctors',1);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "password_resets_email_index" on "password_resets" ("email");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
CREATE INDEX "patients_deleted_at_index" on "patients" ("deleted_at");
CREATE INDEX "password_reset_codes_email_index" on "password_reset_codes" ("email");
CREATE INDEX "appointments_appointment_date_index" on "appointments" ("appointment_date");
CREATE INDEX "appointments_status_index" on "appointments" ("status");
COMMIT;
